<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ICE9A.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ICE9A.Settings>
            <setting name="AGL" serializeAs="String">
                <value />
            </setting>
            <setting name="STR" serializeAs="String">
                <value />
            </setting>
            <setting name="VGR" serializeAs="String">
                <value />
            </setting>
            <setting name="PER" serializeAs="String">
                <value />
            </setting>
            <setting name="INT" serializeAs="String">
                <value />
            </setting>
            <setting name="WIL" serializeAs="String">
                <value />
            </setting>
            <setting name="CharacterName" serializeAs="String">
                <value />
            </setting>
            <setting name="Career" serializeAs="String">
                <value />
            </setting>
            <setting name="Species" serializeAs="String">
                <value />
            </setting>
        </ICE9A.Settings>
    </userSettings>
</configuration>